body {
  background-color: #0a0a23;
}

.en {
  /* estilos predeterminado para English */
  background: linear-gradient(to right, rgb(0, 102, 255), white, red) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.es {
  color: white; /* Color predeterminado para Spanish */
}

.check {
  position: relative;
  width: 50px;
  cursor: pointer;
}

.check:before {
  content: "";
  position: absolute;
  background: #575768;
  width: 50px;
  height: 24px;
  border-radius: 25px;
}

.check:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  border-radius: 25px;
  transition: 0.25s;
  background: #0a0a23;
  border: 1px solid white;
  box-sizing: border-box;
}

.check:checked:after {
  left: 25px;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  color: #0a0a23;
  padding: 5px;
}

#monsterStats {
  display: none;
  background-color: #c70d0d;
  border: 1px solid #0a0a23;
  color: #ffffff;
  padding: 5px;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}
